<h3>Профіль користувача <b><%=@userparam.user.nickname%></b></h3>
<%=form_for @userparam, url:userparam_path, method: :patch do |f|%>

  <div class="form-group ">
  	<%=f.label "Про себе" %>
    <%= f.text_area :bio, class:"form-control"%>
	</div>

  <div class="form-group ">
    <%=f.label :phone %>
    <%= f.text_field :phone, class:"form-control"%>
  </div>


  <%=f.submit "Оновити"%>

<%end%>